*{
	margin: 0px;	/*setting defaults so nothing messes with it later*/
	padding: 0px;
	background: #EBEBEB;
}
h1{
	font: 40px Arial;
}
h2{
	font: bold 20px Arial;
}
header, section, footer, aside, nav, article{          /*for lame browsers*/
	display:block;
}
body{
	text-align: center;
}
#bigWrapper{
	width: 100%;
	text-align: left;
}
#topHeaderText{
	background : #2196F3;
}
#topHeader{
	background : #2196F3;
	padding: 50px;
	text-align: left;
	color: #FFFFFF;
}
#topMenuText{
	background: #1976D2;
	text-decoration: none;
	color: #D9DADC;
}
#selected{
	background: #1976D2;
	text-decoration: none;
	color: #FFFFFF;
	border-bottom-style: solid;
	border-color: #FFFFFF;
}
#topMenu{
	background: #1976D2;
	color: white;
	text-align: left;
	text-decoration: none;
	padding-left: 10px;
}
#topMenu li{
	display:inline-block;
	list-style:none;
	padding:15px;
	font:bold 14px Tahoma;
	background: #1976D2;
}
#mainSection{
	float: left;
	width: 660px;
	margin: 30px;  /* 720px 280left */
}
#mainSection h1{
	text-align: left;
}
#sidebar{
	float: left;
	background: #FF5722;
	width: 220px;
	margin: 30px;
	padding: 15px;
	border-radius: 10px;

}
#foot{
	clear:both;
	text-align: center;
	padding:  20px;
	border-top: 2px solid blue;
}
#articleText {
	background: #F5F5F5;
	padding: 20px;
}

article {
	background: #F5F5F5;
	padding: 20px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 10px #888888;
}
article footer{
	text-align: right;
}
a{
	text-decoration: none;
	color: #FFFFFF;
	background: #1976D2;
}

